body
{
    background-color: black;
    background-image: url("../images/background.png");
    background-position: top center;
}

.nith_logo
{
    position: absolute;
    top: 200px;
    right: 600px;
}
.container
{
    position: absolute;
    top: 100px;
    left: 100px;
    color: white;
    text-decoration: none;
}

.container:hover
{
    text-decoration: none;
    opacity: 0.8;
    visibility: visible;
}
.info
{
    padding:50px;
    position: absolute;
    width:120px;
    top: 20px;
    left: -25px;
    opacity: 0;
    text-decoration: none;
}
.info:hover
{
    visibility: visible;
    opacity: 1;
    text-decoration: none;
}






.container2
{
    position: absolute;
    top: 400px;
    left: 100px;
    color: white;
    text-decoration: none;
}

.container2:hover
{
    text-decoration: none;
    opacity: 0.8;
    visibility: visible;
}
.info2
{
    padding:50px;
    position: absolute;
    width:120px;
    top: 20px;
    left: -25px;
    opacity: 0;
    text-decoration: none;
}
.info2:hover
{
    visibility: visible;
    opacity: 1;
    text-decoration: none;
}










.container3
{
    position: absolute;
    top: 400px;
    right: 100px;
    color: white;
    text-decoration: none;
}

.container3:hover
{
    text-decoration: none;
    opacity: 0.8;
    visibility: visible;
}
.info3
{
    padding:50px;
    position: absolute;
    width:120px;
    top: 20px;
    right: -25px;
    opacity: 0;
    text-decoration: none;
}
.info3:hover
{
    visibility: visible;
    opacity: 1;
    text-decoration: none;
}









.container4
{
    position: absolute;
    top: 100px;
    right: 100px;
    color: white;
    text-decoration: none;
}

.container4:hover
{
    text-decoration: none;
    opacity: 0.8;
    visibility: visible;
}
.info4
{
    padding:50px;
    position: absolute;
    width:120px;
    top: 20px;
    right: -25px;
    opacity: 0;
    text-decoration: none;
}
.info4:hover
{
    visibility: visible;
    opacity: 1;
    text-decoration: none;
}
