/* Center (default)
*/
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/*Left align*/
[data-editable] image.align-left,
[data-editable] [data-ce-tag=img].align-left,
[data-editable] img.align-left,
[data-editable] video.align-left {
    clear: initial;
    float: left;
    margin-right: 8px;
}

/*Right align*/
[data-editable] image.align-right,
[data-editable] [data-ce-tag=img].align-right,
[data-editable] img.align-right,
[data-editable] video.align-right {
    clear: initial;
    float: right;
    margin-left: 8px;
}

/*Alignment styles for text in editable regions*/
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

[data-editable] ul {
    overflow: hidden;
}

/*
 * Styling the editors and hence the article
*/
[data-editable] p, [data-editable] h1, [data-editable] h2, [data-editable] ul, [data-editable] ol, [data-editable] li, [data-editable] pre, [data-editable] table  {
    /*border: 1px solid gray;*/
    margin: 0;
    padding: 0;
}

.main.main-raised {
    background: rgb(250, 250, 250);
    margin-left: 5em;
    margin-right: 5em;
}

[data-editable] {
    overflow: auto;
    font-family: Lato, serif;
    font-weight: 400;
    padding: 3.5em 3em;
    font-size: 120%;
    text-align: justify;
    font-family: Open Sans;
}

[data-editable] p {
    font-size: 1em;
    line-height: 1.7em;
    color: rgb(10, 10, 20);
    margin-bottom: 1.7em;
}

[data-editable] h1, [data-editable] h2 {
    font-family: Josefin Sans, sans-serif;
    font-weight: bold;
    line-height: normal;
}

[data-editable] h1 {
    font-size: 1.8em;
    margin: 1em 0;
    font-weight: 700;
}

[data-editable] h2 {
    font-size: 1.5em;
    margin: 1.7em 0 1.7em 0;
    font-weight: 600;
}

[data-editable] h1 + h2 {
    margin: 0;
    margin-bottom: 1.7em;
}

[data-editable] h2 + h2 {
    margin: 0;
    margin-bottom: 1.7em;
}

[data-editable] ul, [data-editable] ol {
    list-style-position: outside;
    padding-left: 1.5em;
    overflow: hidden;
}

[data-editable] li {
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.4em;
    color: rgb(10, 10, 20);
}

[data-editable] li > ul, [data-editable] li > ul {
    margin: 1em 0;
}

[data-editable] li > ul li, [data-editable] li > ol li {
    margin: 0;
}


[data-editable] table {
    width: 100%;
    margin-bottom: 1em;
}

[data-editable] table th {
    text-align: center;
    background: #9c27b0;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    font-family: Cardo, sans-serif;
}

[data-editable] table td {
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
}

[data-editable] table tr:nth-child(2n) {
    background: #FEF;
}

[data-editable] table tr:nth-child(2n+1) {
    background: #FDF;
}

[data-editable] img + p, [data-editable] img + h1, [data-editable] img + h2, [data-editable] img + ul, [data-editable] img + ol {
    padding-top: 1em;
}

.grain {
    padding: 3em;
    text-align: center;
    color: #9c27b0;
    font-size: 12px;
    font-weight: bold;
}

.grain .material-icons {
    font-size: 8px;
}

[data-editable] ul + p, [data-editable] ol + p {
    margin-top: 12px;
}


/**
* Title of Articles
*/


.index-page .brand {
  margin-top: 20vh;
}

.brand .article-title  {
    font-size: 2.2em;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    font-family: Cardo, sans-serif;
}


/*
* Comment sections
*/

.modal-content {
    padding: 0 7em;
    box-shadow: none;
}

.comment-input {
    padding: 1em;
}

.comment-box {
    padding: 1em;
    /*background: rgb(238,238, 238);*/

}

.comment-box > .row {
    padding: 0.5em;
    line-height: 1.2em;
    font-weight: 400;
    display: flex;
}

.message {
    text-align: right;
    padding: 1em;
    background: rgb(230, 250, 230);
}

.reply {
    padding: 1em;
    text-align: left;
    background: rgb(230, 230, 250);
}

.eta, .words, .visits {
    font-weight: bold;
    font-size: 1.2em;
}


@media (max-width: 768px) {
  .main.main-raised {
    margin-left: 0;
    margin-right: 0;
  }

  [data-editable] {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
  }

  h1 + img, h2 + img {
    margin-bottom: 2px;
  }
}
