.main {
  min-height: 200px;
}

.headroom {
    will-change: transform;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
.headroom--unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#articlesModal {
  position: relative;
}

.btn-close-modal {
    position: absolute;
    text-align: right;
    z-index: 99;
    right: 0;
    top: 0;
}

.btn-close-modal button.btn.btn-sm {
  margin: 0px;
}

.modal-content {
  padding-top: 2em;
  min-height: 100%;
  background: #9c27b0;
  display: flex;
  flex-wrap: wrap;
}    

.modal-content .section-list {
  padding: 0 2em 2em 2em; 
  display: flex;
}

.modal-content .section-list:nth-child(3n + 2) {
  padding: 0 0 2em 0;
  display: flex;
}

.modal-content .section-list .section-item {
  border-radius: 1em;
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  display: flex;
  flex-direction: column;
  width: 100%;
}

#articlesModal .modal-content .section-list h2 {
  color: #9c27b0;
  /*color: white;*/
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 1em;
  padding-left: 2em;
  background: rgb(245, 245, 245);
  background: rgba(255, 255, 255, 0.9);
  /*border: 1px solid rgba(255, 255, 255, 0.9);*/
  position: relative;
  font-family: Merriweather, serif;
}

#articlesModal .modal-content .section-list h2 .material-icons {
    position: relative;
    top: 2px;
    margin-right: 3px;
    font-size: 1em;
}

#articlesModal .modal-content ul {
  color: white;
  flex: 1 0 auto;
  padding: 1em;
  padding-left: 2em;
  padding-top: 0.5em;
  /*border: 1px solid rgba(255, 255, 255, 0.9);*/
  background: rgba(0,0,0,0.02);
}

#articlesModal .modal-content ul li {
  padding: 0px;
  position: relative;
}

#articlesModal .modal-content ul li .btn.btn-sm.btn-simple {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.2em 0em;
  margin: 0;
  text-transform: capitalize;
}

#articlesModal .modal-content ul li a .material-icons {
  position: relative;
  margin-right: 10px;
}

/**
  * For the sections page
**/

  .tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    postiion: relative;
    padding: 3em;
    margin: -2.5em 0 0 -2.5em;
  }

    .tiles article {
      -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;
      position: relative;
      width: calc(33.33333% - 2.5em);
      margin: 2.5em 0 0 2.5em;
    }

      .tiles article > .image {
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
      }

        .tiles article > .image img {
          display: block;
          width: 100%;
        }

        .tiles article > .image:before {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
          -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
          -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
          transition: background-color 0.5s ease, opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1.0;
          z-index: 1;
          opacity: 0.8;
        }

        .tiles article > .image:after {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: opacity 0.5s ease;
          -webkit-transition: opacity 0.5s ease;
          -ms-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          opacity: 0.25;
          z-index: 2;
        }

      .tiles article > a {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
        -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
        -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
      }

        .tiles article > a > :last-child {
          margin: 0;
        }

        .tiles article > a:hover {
          color: #ffffff !important;
        }

        .tiles article > a h2 {
          margin: 0;
        }

        .tiles article > a .content {
          -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
          -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
          -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
          transition: max-height 0.5s ease, opacity 0.5s ease;
          width: 100%;
          max-height: 0;
          line-height: 1.5;
          margin-top: 0.35em;
          opacity: 0;
        }

          .tiles article > a .content > :last-child {
            margin-bottom: 0;
          }

      .tiles article.style1 > .image:before {
        background-color: #f2849e;
      }

      .tiles article.style2 > .image:before {
        background-color: #7ecaf6;
      }

      .tiles article.style3 > .image:before {
        background-color: #7bd0c1;
      }

      .tiles article.style4 > .image:before {
        background-color: #c75b9b;
      }

      .tiles article.style5 > .image:before {
        background-color: #ae85ca;
      }

      .tiles article.style6 > .image:before {
        background-color: #8499e7;
      }

      body:not(.is-touch) .tiles article:hover > .image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

        body:not(.is-touch) .tiles article:hover > .image:before {
          background-color: #333333;
          opacity: 0.35;
        }

        body:not(.is-touch) .tiles article:hover > .image:after {
          opacity: 0;
        }

      body:not(.is-touch) .tiles article:hover .content {
        max-height: 15em;
        opacity: 1;
      }

    * + .tiles {
      margin-top: 2em;
    }

    body.is-loading .tiles article {
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }

    body.is-touch .tiles article .content {
      max-height: 15em;
      opacity: 1;
    }

    @media screen and (max-width: 1280px) {

      .tiles {
        margin: -1.25em 0 0 -1.25em;
      }

        .tiles article {
          width: calc(33.33333% - 1.25em);
          margin: 1.25em 0 0 1.25em;
        }

    }

    @media screen and (max-width: 980px) {

      .tiles {
        margin: -2.5em 0 0 -2.5em;
      }

        .tiles article {
          width: calc(50% - 2.5em);
          margin: 2.5em 0 0 2.5em;
        }

    }

    @media screen and (max-width: 736px) {

      .tiles {
        margin: -1.25em 0 0 -1.25em;
      }

        .tiles article {
          width: calc(50% - 1.25em);
          margin: 1.25em 0 0 1.25em;
        }

          .tiles article:hover > .image {
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
            transform: scale(1.0);
          }

    }

    @media screen and (max-width: 480px) {

      .tiles {
        margin: 0;
      }

        .tiles article {
          width: 100%;
          margin: 1.25em 0 0 0;
        }

    }


/**
* FOR SECTION ARTICLES PAGE
**/

.brand h2 {
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
}

.articles-list {
  padding: 3em 0;
  margin-left: 25%;
  width: 50%;
}

.articles-list > li {
  margin: 0;
  padding: 0.5em 0;
}

.articles-list > li > a {
  font-weight: bold;
  font-size: 1.5em;
}

.articles-list > li > a .material-icons {
  margin-right: 10px;
}