/*
 * The css for the navigation of the website
*/

@media (min-width: 737px) {

    #header-wrapper.small {
        height: 3.5em;
        position: relative;
        padding: 0.5em 2em;
    }

    #header.small {
        position: relative;
        padding: 0;
    }

    #header.small > div {
        position: relative;
        float: left;
        left: 20px;
    }

    #header.small > div > #logo{
        font-size: 2.5em;
        margin-top: 0.2em;
    }

    #header.small >  #nav {
        padding: 0.7em;
        position: relative;
        top: 0;
    }

    #header.small > #nav > ul {
        float: right;
        margin-bottom: 0;
    }

}